.head-name{
    margin-left: 1.5rem;
}

.navbar{
    position: sticky;
    top: 0;
}

.navs{
    display: inline-flex;
    width: 100%;
}
.search-bar{
    margin-left: 2rem;
}
.items{
    margin-left: 2rem;
    position: absolute;
    right: 1rem;
    
}

.login {
   background-color: black;
   border-radius: 50%;
   margin-left: 1.5rem;
}

.items ul li{
    margin-left: 1rem;
}
